html,body{
    margin:0;
    font-family: Arial,Helvetica, sans-serif;
    height:100%;
}
/* Style the top navigation bar */
.topnav{
    overflow: hidden;
    background-color: darkblue;
    
}
.topnav a{
    float:left;
    display:block;
    color: #f2f2f2;
    text-align: center;
    padding:12px 16px;
    text-decoration: none;
    font-size: 20px;
}

/* change color on hover */
.topnav a:hover {
    background-color: #ddd;
    color:black;
}

/* body content */
.content{
    margin:4% 10% 4% 10%;
    height:100%;
    font-size:16px;
}
p{
    text-align: justify;
}
.footer{
    background-color: darkblue;
    padding : 8px 5px 8px 5px;
    font-size: 20px;
    color:white;
}

/* style for gallery */

div.gallery{
    margin:5px;
    border:1px solid #ccc;
    float:left;
    width:200px;
   
}
div.gallery:hover{
    border:1px solid #777;
}
div.gallery img{
    width:100%;
    height:200px;
}

div.desc{
    padding:15px;
    text-align: center;
}
    

